@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.software-skill-inline>i {
  color: $subTitle;
  transition: all 0.3s ease;
  transform: scale(1);
}

.software-skill-inline>i:hover {
  color: $skillsColor;
  transform: scale(1.1);
}

.software-skill-inline>p {
  color: $subTitle;
  font-size: 10px;
  transition: all 0.3s ease;
}

.software-skill-inline:hover>p {
  color: $skillsColor;
}

.custom-icon {
  width: 45px;
  height: 45px;
  color: $subTitle;
  margin-bottom: 0px;
  filter: grayscale(100%) brightness(0.7) contrast(1);
  transition: all 0.3s ease;
  transform: scale(1.1); // default scale
}

.custom-icon:hover {
  color: $skillsColor;
  filter: grayscale(0%) brightness(0.8) hue-rotate(110deg);
  transform: scale(1.2);
}